@import "../variables";

.about {
  height: 1460px;
  width: 320px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  @media (min-width: $width-tablet) {
    position: relative;
    width: 768px;
    height: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(../../source/images/tablet/img/about/review.jpg);
    background-position-x: 0px;
    background-position-y: 590px;
    background-repeat: no-repeat;
  }
  @media (min-width: $width-desktop) {
    width: 1250px;
    height: 1180px;
    padding-left: 100px;
    padding-right: 100px;
    background-position-x: 100px;
    background-position-y: 602px;
    background-repeat: no-repeat;
  }

  &__large-text {
    font-family: $font-family;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    letter-spacing: 0.7px;
    margin-bottom: 32px;
    margin-top: 0;
    @media (min-width: $width-tablet) {
      font-size: 43px;
      line-height: 50px;
      font-weight: 800;
      margin-bottom: 48px;
    }
    @media (min-width: $width-desktop) {
      font-size: 53px;
      line-height: 57px;
      margin-left: 175px;
    }
  }

  &__wraper{
    @media (min-width: $width-tablet) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 129px;
    }
    @media (min-width: $width-desktop) {
      margin-left: 175px;
      margin-right: 175px;
    }
  }
  
  &__parts{
    @media (min-width: $width-tablet) {
      height: 440px;
      width: 334px;
    }
    @media (min-width: $width-desktop) {
      width: 350px;
    }
  }

  &__part {
    width: 260px;
    height: 126px;
    @media (min-width: $width-tablet) {
      height: 157px;
    }
  }

  &__part h3 {
    font-family: $font-family;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: $width-tablet) {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 1.2px;
    }
  }

  &__part:nth-child(1) img {
    margin-left: 9px;
    margin-bottom: 13px;
  }

  &__part:nth-child(2) img {
    margin-bottom: 20px;
  }

  &__part:nth-child(3) img {
    margin-left: 7px;
    margin-bottom: 16px;
  }

  &__part:nth-child(4) img {
    margin-bottom: 13px;
    margin-top: 4px;
    margin-left: 4px;
  }

  &__part:nth-child(5) img {
    margin-top: -8px;
    margin-left: -5px;
    margin-bottom: 23px;
  }

  &__part:nth-child(6) img {
    margin-top: -13px;
    margin-left: 3px;
    margin-bottom: 16px;
  }

  &__parts:nth-child(2) {
    & h3{
      @media (min-width: $width-tablet) {
        width: 299px;
      }
    }
    
    & :nth-child(1) img {
      margin-bottom: 13px;
      margin-top: -7px;
      margin-left: 4px;
      @media (min-width: $width-tablet) {
        margin-bottom: 13px;
        margin-top: 4px;
        margin-left: 4px;
      }
    }

    & :nth-child(2) img {
      margin-top: -8px;
      margin-left: -5px;
      margin-bottom: 23px;
      @media (min-width: $width-tablet) {
        margin-bottom: 21px;
        margin-left: -5px;
        margin-top: 4px;
      }
    }

    & :nth-child(3) img {
      margin-top: -13px;
      margin-left: 3px;
      margin-bottom: 16px;
      @media (min-width: $width-tablet) {
        margin-top: 0;
        margin-bottom: 16px;
        margin-left: 3px;
      }
    }
  }

  &__feedback {
    margin-bottom: 45px;
    @media (min-width: $width-tablet) {
      position: relative;
      margin-bottom: 28px;
    }
    @media (min-width: $width-desktop) {
      margin-left: 175px;
      margin-bottom: 87px;
    }
  }

  &__feedback-wraper{
    @media (min-width: $width-tablet) {
      display: flex;
      justify-content: space-between;
      align-content: center;
    }
  }

  &__feedback h3 {
    font-family: $font-family;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    letter-spacing: 1.7px;
    margin-top: 8px;
    margin-bottom: 25px;
    @media (min-width: $width-tablet) {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 48px;
    }
    @media (min-width: $width-desktop) {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &__feedback h4 {
    font-family: $font-family;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    letter-spacing: 1px;
    margin-top: 26px;
    margin-bottom: 3px;
    @media (min-width: $width-tablet) {
      letter-spacing: 1.6px;
    }
  }

  &__feedback p {
    font-family: $font-family;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    color: #444444;
    @media (min-width: $width-tablet) {
      letter-spacing: 1px;
      margin-bottom: 33px;
    }
    @media (min-width: $width-desktop) {
      margin-bottom: 13px;
    }
  }

  &__feedback p:nth-child(4) {
    font-size: 17px;
  }

  &__arrows {
    width: 260px;
    display: flex;
    align-content: space-between;
    margin-top: 29px;
    margin-bottom: 38px;
    @media (min-width: $width-tablet) {
      width: 174px;
      margin-top: 41px;
    }

    & img {
      width: 130px;
      border: solid #ececec 1px;
      padding: 12px 31px 12px 27px;
      @media (min-width: $width-tablet) {
        width: 87px;
        border: none;
        padding: 0;
      }
    }
  }

  &__feedback button {
    font-family: $font-family;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #444444;
    height: 52px;
    width: 261px;
    background-color: #ffffff;
    border: 2px solid #444444;
    cursor: pointer;
    @media (min-width: $width-tablet) {
      position: relative;
      top: -365px;
      right: -493px;
      width: 175px;
    }
    @media (min-width: $width-desktop) {
      top: -306px;
      right: -700px;
    }
  }

  &__wavy-line {
    height: 8px;
    width: 320px;
    margin-left: -30px;
    background-image: url(../../static/images/mobile/svg/featured/zigzag-line-desktop.svg);
    @media (min-width: $width-tablet) {
      height: 23px;
      width: 768px;
      margin-left: -50px;
      background-image: url(../../source/images/tablet/svg/featured/zigzag-line-desktop.svg);
    }
    @media (min-width: $width-desktop) {
      height: 23px;
      width: 1052px;
      margin-left: 0;
      background-image: url(../../source/images/desktop/svg/featured/zigzag-line-desktop.svg);
    }
  }
}
