@import "../variables";

.contact {
  height: 890px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
  padding-right: 30px;
  padding-top: 31px;
  box-sizing: border-box;
  background-color: #ffffff;
  @media (min-width: $width-tablet) {
    position: relative;
    width: 768px;
    height: 909px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 43px;
  }
  @media (min-width: $width-desktop) {
    display: grid;
    height: 602px;
    width: 1250px;
    grid-template-columns: 172px 402px 525px;
    grid-template-rows: 402px 180px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-areas: ". cw	cm"
                         ". cb	cm";
  }

  &::after{
    @media (min-width: $width-tablet) {
      content: '';
      height: 81px;
      width: 47px;
      position: absolute;
      top: 28px;
      right: 53px;
      background-image: url(../../static/images/tablet/svg/contact/flag.svg);
    }
    @media (min-width: $width-desktop) {
      top: 102px;
      left: 163px;
    }
  }

  & h3 {
    font-family: $font-family;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    letter-spacing: 1px;
    margin-bottom: 23px;
    margin-top: 0;
    @media (min-width: $width-tablet) {
      font-size: 43px;
      line-height: 50px;
      letter-spacing: 2px;
      margin-bottom: 48px;
    }
    @media (min-width: $width-desktop) {
      font-size: 53px;
      line-height: 57px;
      letter-spacing: 3px;
      margin-bottom: 48px;
    }
  }

  &__info {
    font-family: $font-family;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    color: #444444;
    margin-bottom: 34px;
    @media (min-width: $width-tablet) {
      display: flex;
    }
    @media (min-width: $width-desktop) {
      width: 525px;
      flex-wrap: wrap;
    }
  }

  &__part {
    display: flex;

    &:first-child {
      padding-top: 4px;
      margin-bottom: 30px;
      @media (min-width: $width-tablet) {
        padding-top: 0;
      }
    }

    & a{
      text-decoration: none;
      color: #444444;
      position: relative;

      &:after{
        @media (min-width: $width-tablet) {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #62d1ba;
          height: 1px;
          width: 200px;
        }
      }

      &:hover:after{
        @media (min-width: $width-tablet) {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #46c1ae;
          height: 1px;
          width: 200px;
        }
      }
      &:active:after{
        @media (min-width: $width-tablet) {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #ecf9f7;
          height: 1px;
          width: 200px;
        }
      }

      &:hover{
        color: #46c1ae;
      }
      &:active{
        color: #c7ece7;
      }
    }

    & p:first-child {
      width: 82px;
      @media (min-width: $width-tablet) {
        width: 79px;
      }
    }
    @media (min-width: $width-tablet) {
      width: 334px;
      letter-spacing: 0.8px;
    }
  }

  &__wraper{
    @media (min-width: $width-tablet) {
      margin-bottom: 57px;
    }
    @media (min-width: $width-desktop) {
      grid-area: cw;
      margin-top: 68px;
    }
  }

  tr:nth-child(1) {
    height: 58px;
    vertical-align: top;
    & td:nth-child(1) {
      width: 48px;
      // add underline with constructor ':after'
    }
  }

  td:nth-child(2) {
    padding-left: 24px;
  }

  tr:nth-child(2) {
    font-weight: normal;
    padding-top: 20px;
    & td {
      vertical-align: top;
    }
  }

  iframe {
    height: 460px;
    width: 320px;
    margin-left: -27px;
    margin-bottom: 32px;
    @media (min-width: $width-tablet) {
      height: 458px;
      width: 768px;
      margin-left: -50px;
      margin-bottom: 50px;
    }
    @media (min-width: $width-desktop) {
      grid-area: cm;
      height: 460px;
      width: 525px;
    }
  }

  &__button {
    font-family: $font-family;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #444444;
    height: 52px;
    width: 261px;
    background-color: #ffffff;
    border: 2px solid #444444;
    cursor: pointer;
    margin-left: 3px;
    @media (min-width: $width-tablet) {
      display: inline-block;
      width: 230px;
      margin-left: 219px;
      font-size: 17px;
      letter-spacing: 1px;
    }
    @media (min-width: $width-desktop) {
      grid-area: cb;
      margin-left: 3px;
    }
    &:hover{
      background-color: #444444;
      color: #ffffff;
    }
    &:active{
      background-color: #444444;
      color: #7c7c7c;
    }
  }
}
