@import "../variables";

.featured {
  height: 852px;
  width: 320px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  @media (min-width: $width-tablet) {
    display: grid;
    height: 673px;
    width: 768px;
    grid-template-columns: 334px 334px;
    grid-template-rows: 150px 295px 57px 100px;
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-areas:
      "wt wt"
      "w	i"
      "p	i"
      "b	i";
  }
  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 350px 525px;
    grid-template-rows: 235px 361px 57px 122px;
    height: 863px;
    width: 1250px;
    padding-left: 275px;
    padding-right: 100px;
    grid-template-areas:
      "wt i"
      "w	i"
      "p	i"
      "b	i";
  }

  &__wraper {
    @media (min-width: $width-tablet) {
      grid-area: w;
      width: 334px;
      float: left;
      box-sizing: border-box;
      margin-top: -9px;
    }
    @media (min-width: $width-desktop) {
      width: 350px;
    }
  }

  &__wraper-text {
    @media (min-width: $width-tablet) {
      grid-area: wt;
      height: 45px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 53px;
      padding-left: 0;
      padding-right: 22px;
    }
    @media (min-width: $width-desktop) {
      flex-direction: row-reverse;
      position: relative;
      width: 651px;
      top: 79px;
      left: -133px;
      padding-right: 0px;
    }
  }

  &__large-text {
    font-family: $font-family;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    letter-spacing: 1.3px;
    margin-bottom: 4px;
    @media (min-width: $width-tablet) {
      font-size: 43px;
      line-height: 60px;
      letter-spacing: 2px;
      margin: 0;
    }
    @media (min-width: $width-desktop) {
      grid-area: lt;
      font-size: 53px;
      line-height: 57px;
      letter-spacing: 2.5px;
    }
  }

  &__small-text {
    font-family: $font-family;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #63d1bb;
    letter-spacing: 0.7px;
    margin-bottom: 23px;
    @media (min-width: $width-tablet) {
      height: 45px;
      width: 80px;
      margin: 0;
      text-align: center;
    }
    @media (min-width: $width-desktop) {
      grid-area: st;
    }
  }

  &__area-text {
    font-family: $font-family;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #444444;
    margin-bottom: 22px;
    @media (min-width: $width-tablet) {
      width: 297px;
      margin-bottom: 40px;
      letter-spacing: 1px;
      line-height: 30px;
    }
    @media (min-width: $width-desktop) {
      margin-bottom: 52px;
    }
  }

  &__table {
    width: 260px;
    text-align: left;
    font-family: $font-family;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #444444;
    margin-bottom: 25px;
  }

  table {
    width: 260px;
    font-family: $font-family;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #444444;
    margin-bottom: 25px;
  }

  td {
    border-bottom: 1px solid #ececec;
    padding: 2px 0 9px 0;
  }

  td:first-child {
    width: 94px;
  }

  tr:last-child td {
    padding-top: 5px;
  }

  &__price {
    font-family: $font-family;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: #444444;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 26px;
    @media (min-width: $width-tablet) {
      width: 289px;
      grid-area: p;
      font-size: 20px;
    }
  }

  &__butoon {
    @extend .featured__price;
    height: 52px;
    width: 261px;
    background-color: #ffffff;
    border: 2px solid #444444;
    cursor: pointer;
    margin-bottom: 28px;
    @media (min-width: $width-tablet) {
      grid-area: b;
      width: 290px;
      font-size: 17px;
    }
  }

  &__image {
    height: 315px;
    width: 260px;
    margin-bottom: 20px;
    @media (min-width: $width-tablet) {
      height: 404px;
      width: 333px;
      grid-area: i;
    }
    @media (min-width: $width-desktop) {
      height: 704px;
      width: 525px;
      padding-top: 68px;
    }
  }

  &__wavy-line {
    height: 8px;
    width: 320px;
    margin-left: -30px;
    background-image: url(../../static/images/mobile/svg/featured/zigzag-line-desktop.svg);
    @media (min-width: $width-tablet) {
      height: 23px;
      width: 768px;
      margin-left: -50px;
      background-image: url(../../static/images/tablet/svg/featured/zigzag-line-desktop.svg);
    }
    @media (min-width: $width-desktop) {
      width: 1050px;
      margin-left: -175px;
      background-image: url(../../static/images/desktop/svg/featured/zigzag-line-desktop.svg);
    }
  }
}
