@import "../variables";

.header {
  height: 490px;
  width: 320px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  background-image: url(../../static/images/mobile/img/header/hero-mobile.jpg);
  @media (min-width: $width-tablet) {
    height: 746px;
    width: 768px;
    background-image: url(../../static/images/tablet/img/header/hero-desktop.jpg);
  }
  @media (min-width: $width-desktop) {
    height: 746px;
    width: 1250px;
    background-image: url(../../static/images/desktop/img/header/hero-desktop.jpg);
    background-position-x: 51px;
  }

  &__part {
    position: relative;
    top: 283px;
    @media (min-width: $width-tablet) {
      top: 627px;
    }
    @media (min-width: $width-desktop) {
      margin-left: 100px;
      margin-right: 50px;
    }
    
    &:after{
      @media (min-width: $width-tablet) {
        content: '';
        position: absolute;
        height: 24px;
        width: 768px;
        bottom: 0;
        background-image: url(../../static/images/tablet/svg/header/zigzag-fill-desktop.svg);
      }
      @media (min-width: $width-desktop) {
        position: absolute;
        height: 34px;
        width: 1250px;
        bottom: 0;
        background-image: url(../../static/images/desktop/svg/header/zigzag-fill-desktop.svg);
        left: -100px;
      }
    }
  }

  &__large-text {
    display: inline-block;
    width: 261px;
    position: absolute;
    top: 48px;
    left: 50%;
    margin-left: -130px;
    color: #010000;
    font-family: $font-family;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    @media (min-width: $width-tablet) {
      font-size: 43px;
      line-height: 50px;
      width: 550px;
      top: 116px;
      left: 240px;
      letter-spacing: 2.5px;
    }
    @media (min-width: $width-desktop) {
      font-size: 53px;
      line-height: 57px;
      width: 720px;
      top: 108px;
      left: 396px;
      letter-spacing: 2.9px;
    }
  }

  &__top {
    display: none;
    @media (min-width: $width-tablet) {
      position: absolute;
      display: flex;
      font-family: $font-family;
      font-size: 15px;
      top: 20px;
      right: 50px;
    }
    @media (min-width: $width-desktop) {
      align-items: flex-end;
      justify-content: space-between;
      width: 1050px;
      height: 160px;
      left: 100px;
      top: -120px;
    }
    
    & a{
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      margin-right: 33px;
      letter-spacing: 0.9px;
      @media (min-width: $width-desktop) {
        margin: 0;
      }
    }

    &-parts{
      @media (min-width: $width-desktop) {
        display: flex;
        width: 380px;
      }
    }

    &-part{
      @media (min-width: $width-tablet) {
        display: none;
      }
      @media (min-width: $width-desktop) {
        width: 317px;
        display: flex;
        margin-right: 0;
        justify-content: space-between;
      }
    }
  }

  &__button {
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    @media (min-width: $width-tablet) {
      height: 130px;
      box-sizing: border-box;
      align-items: flex-start;
      padding-top: 28px;
      padding-left: 36px;
      padding-right: 36px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__button:first-child {
    background-color: #63d1bb;
    @media (min-width: $width-tablet) {
      width: 334px;
      float: left;
      margin-left: 50px;
    }
    @media (min-width: $width-desktop) {
      width: 525px;
      margin-left: 0;
    }
  }

  &__button:nth-child(2) {
    background-color: #56c3b2;
    @media (min-width: $width-tablet) {
      margin-right: 50px;
    }
  }

  &__small-text {
    display: inline-block;
    width: 130px;
    color: #ffffff;
    font-family: $font-family;
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1px;
    @media (min-width: $width-tablet) {
      line-height: 29px;
      letter-spacing: 1.4px;
    }
    @media (min-width: $width-desktop) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
