@import "../variables";

.form{
	height: 1600px;
	width: 320px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -6px;

	&__title-text{
		position: relative;
		height: 26px;
		display: block;
		font-size: 17px;
		font-weight: bold;
		color: #63d1bb;
		
		&::after{
			content: '';
			position: absolute;
			height: 1px;
			width: 198px;
			background-color: #63d1bb;
			left: 62px;
			top: 50%;
		}
	}

	&__small-text{
		width: 260px;
		font-size: 13px;
		line-height: 23px;
		margin-bottom: 21px;
	}

	&__type{
		height: 172px;
		width: 260px;

		& .form__title-text{
			margin-bottom: 28px;
		}

		& input {
			position: absolute;
			z-index: -1;
			opacity: 0;
			margin: 10px 0 0 7px;
		}

		& input:checked + .form__type-text:after {
			opacity: 1;
		}

		&-text{
			position: relative;
			display: inline-block;
			width: 195px;
			line-height: 18px;
			font-weight: bold;
			letter-spacing: 1.3px;
			margin-bottom: 23px;
			padding: 0 0 0 35px;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				top: -13px;
				left: -34px;
				width: 50px;
				height: 50px;
				background: url("../../static/images/mobile/svg/form_form/radio-off.svg");
				background-repeat: no-repeat;
			}
	
			&:after {
				content: '';
				position: absolute;
				top: -2px;
				left: 2px;
				width: 25px;
				height: 25px;
			}
	
			&:after {
				content: '';
				position: absolute;
				top: -13px;
				left: -34px;
				width: 50px;
				height: 50px;
				background: url("../../static/images/mobile/svg/form_form/radio-on.svg");
				background-repeat: no-repeat;
				opacity: 0;
				transition: .2s;
			}
		}
	}

	&__radio{
		padding-left: 29px;
	}

	&__color{
		height: 400px;
		width: 260px;
		display: flex;
		flex-direction: column;
		margin-bottom: 17px;

		&-wraper{
			width: 260px;
			display: flex;
			flex-direction: column;
		}

		& label:nth-child(odd){
			margin-right: 20px;
		}

		& .form__title-text{
			margin-bottom: 23px;
		}

		& input {
			position: absolute;
			z-index: -1;
			opacity: 0;
			margin: 10px 0 0 7px;
		}

		& input:checked + .form__color-text:after {
			opacity: 1;
		}

		&-text{
			font-weight: bold;
			position: relative;
			padding: 0 0 0 35px;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				top: -9px;
				left: -28px;
				width: 40px;
				height: 39px;
				background: url("../../static/images/mobile/svg/form_form/cheakbox-off.svg");
				background-repeat: no-repeat;
			}
			&::after {
				content: '';
				position: absolute;
				top: 3px;
				left: -19px;
				width: 40px;
				height: 39px;
				background: url("../../static/images/mobile/svg/form_form/cheakbox-on.svg");
				background-repeat: no-repeat;
				opacity: 0;
				transition: .2s;
			}
		}
	}

	&__cheakbox{
		height: 31px;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 28px;
		padding-top: 9px;
		font-weight: bold;
		letter-spacing: 1.5px;
	}

	&__name{
		height: 330px;
		width: 260px;

		& .form__title-text{
			margin-bottom: 21px;
		}

		& label{
			display: flex;
			flex-direction: column;
			height: 73px;
			margin-bottom: 19px;
		}

		&-text{
			font-size: 17px;
			font-weight: bold;
			letter-spacing: 1.2px;
			margin-bottom: 31px;
		}
	}

	&__phone{
		height: 90px;
		width: 260px;
		margin-bottom: 18px;

		&::after{
			content: url(../../static/images/mobile/svg/form_form/phone.svg);
			position: relative;
			top: -60px;
			left: 227px;
		}

		& .form__title-text{
			margin-bottom: 20px;
		}

		& input{
			height: 30px;
			width: 100%;
			margin-bottom: 19px;
		}
	}

	&__email{
		height: 90px;
		width: 260px;
		margin-bottom: 18px;

		&::after{
			content: url(../../static/images/mobile/svg/form_form/mail.svg);
			position: relative;
			top: -56px;
			left: 224px;
		}

		& .form__title-text{
			margin-bottom: 20px;
		}

		& input{
			height: 30px;
			width: 100%;
			margin-bottom: 19px;
		}
	}

	&__addition{
		height: 190px;
		width: 260px;
		margin-bottom: 10px;

		& .form__title-text{
			margin-bottom: 18px;
		}

		& textarea{
			height: 142px;
			width: 260px;
			box-sizing: border-box;
			border: 2px solid #000000;
			font-size: 17px;
			font-family: $font-family;
			line-height: 20px;
			padding-top: 12px;
			padding-left: 14px;
			resize: none;
		}
	}

	&__text{
		font-size: 14px;
		width: 260px;
		margin-bottom: 30px;
	}

	&__button{
		height: 52px;
		width: 260px;
		font-size: 17px;
		font-weight: bold;
		box-sizing: border-box;
		background-color: transparent;
		border: 2px solid #000000;
		cursor: pointer;
	}

	& input{
		border: none;
		border-bottom: 2px solid #000000;
		
		&::placeholder {
			font-size: 17px;
			color: #c7c7c7;
		}
	}
}