@import "../variables";

body {
  background-color: pink;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

p {
  margin: 0;
  padding: 0;
}

.visual-hidden {
  display: none !important;
  @media (min-width: $width-tablet) {
    display: flex !important;
  }
}

.hidden {
  opacity: 0;
  @media (min-width: $width-tablet) {
    opacity: 1;
  }
}

.white-toning {
  color: #ffffff;
  opacity: 0.9;
  z-index: 5;
}

.conteiner {
  width: $width-mobile;
  margin: 0 auto;
  background-color: #ffffff;
  @media (min-width: $width-tablet) {
    width: $width-tablet;
  }
  @media (min-width: $width-desktop) {
    width: $width-desktop;
  }
}
