@import "../variables";

.mobile-modal {
  display: none;

  &__fade {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
    background-color: #fff;
    z-index: 5;
  }

  &__body {
    position: absolute;
    height: 336px;
    width: 320px;
    left: 50%;
    top: 1047px;
    transform: translateX(-160px);
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.25);
    box-sizing: border-box;
    z-index: 10;
    @media (min-width: $width-tablet) {
      height: 336px;
      width: 566px;
      transform: translateX(-283px);
    }
  }

  &__large-text {
    display: inline-block;
    width: 155px;
    text-align: center;
    font-family: $font-family;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 27px;
    @media (min-width: $width-tablet) {
      font-size: 30px;
      width: 360px;
    }
  }

  &__small-text {
    font-family: $font-family;
    color: #444444;
    font-size: 15px;
    margin-bottom: 32px;
    @media (min-width: $width-tablet) {
      font-size: 17px;
    }
  }

  &__size {
    & button {
      height: 52px;
      width: 82px;
      font-family: $font-family;
      font-size: 17px;
      font-weight: bold;
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid #ececec;
      margin-bottom: 31px;
      cursor: pointer;
      @media (min-width: $width-tablet) {
        width: 112px;
      }

      &:hover {
        border: 2px solid #c7c7c7;
      }
      &:active {
        border: 2px solid #62d1ba;

      }
    }

    & button:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__button {
    height: 52px;
    width: 260px;
    font-family: $font-family;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: #63d1bb;
    letter-spacing: 1px;
    border: none;
    @media (min-width: $width-tablet) {
      width: 350px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
