@import "../variables";

.modal-menu {
  min-height: 77px;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  letter-spacing: 0.8px;
  margin-left: auto;
  margin-right: auto;
  height: 315px;
  transition: display 1s;
  @media (min-width: $width-tablet) {
    position: relative;
    margin-left: 0;
    height: 89px;
    width: 399px;
    transition: none;
    flex-direction: row;
  }
  @media (min-width: $width-desktop) {
    width: 451px;
  }

  &__part {
    position: relative;
    height: 77px;
    line-height: 80px;
    font-family: $font-family;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    padding-left: 76px;
    text-decoration: none;
    color: #000000;
    border-bottom: solid #a9bbb1 1px;
    @media (min-width: $width-tablet) {
      border: none;
      width: 83px;
      height: 88px;
      box-sizing: border-box;
      border-left: 1px solid #ececec;
    }

    &:first-child {
      border-top: solid #a9bbb1 1px;
      @media (min-width: $width-tablet) {
        position: absolute;
        width: 167px;
        top: 79px;
        left: -319px;
        letter-spacing: -0.3px;
        border: none;
        padding: 0;
        z-index: 5;
      }
      @media (min-width: $width-desktop) {
        top: 3px;
        left: -699px;
        letter-spacing: 1px;
      }
    }

    &:nth-child(2) {
      @media (min-width: $width-tablet) {
        position: absolute;
        width: 167px;
        top: 79px;
        left: -152px;
        letter-spacing: -0.3px;
        border: none;
        padding: 0;
        z-index: 5;
      }
      @media (min-width: $width-desktop) {
        top: 3px;
        left: -515px;
        width: 194px;
        letter-spacing: 1px;
        border-left: 1px solid #ececec;
        padding-left: 34px;
      }
    }

    &:nth-child(3) p {
      @media (min-width: $width-tablet) {
        display: none;
      }
    }

    &:nth-child(4) p {
      @media (min-width: $width-tablet) {
        width: 316px;
        margin-top: 3px;
        margin-left: 7px;
      }
    }

    & img {
      position: absolute;
      left: 30px;
      top: 31px;
      @media (min-width: $width-tablet) {
        left: 33px;
        top: 37px;
      }
    }
  }
}