@import "../variables";

.modal-menu {
  min-height: 77px;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  letter-spacing: 0.8px;
  margin-left: auto;
  margin-right: auto;
  height: 315px;
  transition: display 1s;

  &__part {
    position: relative;
    height: 77px;
    line-height: 80px;
    font-family: $font-family;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    padding-left: 76px;
    text-decoration: none;
    color: #000000;
    border-bottom: solid #a9bbb1 1px;

    &:first-child {
      border-top: solid #a9bbb1 1px;
    }

    & img {
      position: absolute;
      left: 30px;
      top: 31px;
    }
  }
}
