@import "../variables";

.top-menu {
  min-height: 80px;
  width: 320px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  @media (min-width: $width-tablet) {
    float:left;
    min-height: 89px;
    width: 369px;
  }
  @media (min-width: $width-desktop) {
    width: 799px;
  }

  &__logo {
    height: 35px;
    width: 86px;
    margin-right: 67px;
    background: url(../../static/images/mobile/svg/top-menu/mishka-logo-mobile.svg)
      no-repeat;
    @media (min-width: $width-tablet) {
      margin-left: 18px;
      margin-right: auto;
      height: 46px;
      width: 113px;
      background: url(../../source/images/tablet/svg/top-menu/mishka-logo-tablet.svg) no-repeat;
    }
    @media (min-width: $width-desktop) {
      margin-left: 520px;
      height: 72px;
      width: 149px;
      background: url(../../source/images/desktop/svg/top-menu/mishka-logo-desktop.svg) no-repeat;
    }

    &:hover {
      background: url(../../static/images/mobile/svg/top-menu/mishka-logo-mobile_hover.svg)
        no-repeat;
      @media (min-width: $width-tablet) {
        background: url(../../source/images/tablet/svg/top-menu/mishka-logo-tablet_hover.svg) no-repeat;
      }
      @media (min-width: $width-desktop) {
        background: url(../../source/images/desktop/svg/top-menu/mishka-logo-desktop_hover.svg) no-repeat;
      }
    }

    &:active {
      background: url(../../static/images/mobile/svg/top-menu/mishka-logo-mobile_active.svg)
        no-repeat;
      @media (min-width: $width-tablet) {
        background: url(../../source/images/tablet/svg/top-menu/mishka-logo-tablet_active.svg) no-repeat;
      }
      @media (min-width: $width-desktop) {
        background: url(../../source/images/desktop/svg/top-menu/mishka-logo-desktop_active.svg) no-repeat;
      }
    }
  }

  &__button {
    margin-right: 1px;
    margin-top: 2px;
    @media (min-width: $width-tablet) {
      display: none;
    }
  }
}
