@import "../variables";

.header {
  height: 176px;
  width: 320px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f1f1f1;
  margin-bottom: 30px;

  &__top {
    display: none;
  }

  &__text {
    font-family: $font-family;
    font-size: 29px;
    line-height: 30px;
    font-weight: bold;
  }
}
