@import "../variables";

.items {
  height: 1237px;
  width: 320px;
  @media (min-width: $width-tablet) {
    height: 1115px;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 49px;
  }

  &__part {
    height: 375px;
    width: 260px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    @media (min-width: $width-tablet) {
      width: 768px;
      display: flex;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 13px;
    }

    &:last-child {
      & .items__large-text {
        width: 205px;
      }

      & .items__small-text {
        @media (min-width: $width-tablet) {
          margin-bottom: 155px;
        }
      }
      
      & .items__content {
        height: 178px;
        @media (min-width: $width-tablet) {
          height: 334px;
        }
      }
    }
  }

  &__image {
    height: 195px;
    width: 260px;
    @media (min-width: $width-tablet) {
      height: 334px;
      width: 334px;
    }
  }

  &__content {
    height: 150px;
    border: 1px solid #ececec;
    padding-top: 27px;
    padding-left: 28px;
    margin-top: -4px;
    @media (min-width: $width-tablet) {
      height: 334px;
      width: 334px;
      box-sizing: border-box;
      margin-top: 0;
    }
  }

  &__large-text {
    font-family: $font-family;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 11px;
    @media (min-width: $width-tablet) {
      font-size: 20px;
    }
  }

  &__small-text {
    font-family: $font-family;
    font-size: 13px;
    margin-bottom: 24px;
    @media (min-width: $width-tablet) {
      font-size: 15px;
      margin-bottom: 179px;
    }
  }

  &__price {
    @extend .items__large-text;
    position: relative;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 15px;
    font-weight: bold;
    @media (min-width: $width-tablet) {
      font-size: 17px;
    }

    &::after {
      content: url(../../static/images/mobile/svg/catalog_items/cart.svg);
      position: absolute;
      left: 183px;
      top: 22px;
      @media (min-width: $width-tablet) {
        left: 252px;
        top: 21px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      width: 205px;
      height: 1px;
      left: 0px;
      background: #ececec;
      @media (min-width: $width-tablet) {
        width: 268px;
      }
    }
  }
}
